body {
    margin: 0;
}

.alink {
    text-decoration: none;
}

.alink:hover {
    text-decoration: underline;
}

.icon-button {
    padding: 8px;
}

.content {
    min-width: 280px;
    margin-top: 50px;
    margin-bottom: 50px;
}